<div id="<%= dom_id user_detail %>">
  <p>
    <strong>Firstname:</strong>
    <%= user_detail.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user_detail.lastname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user_detail.phone %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= user_detail.dob %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= user_detail.level %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_detail.user_id %>
  </p>

</div>
