  <div class="container">
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link <%current_page?(root_path) ? 'active' : ''%>" aria-current="page" href="<%= root_path %>"><%= image_tag("kiwi16.png")%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%current_page?(posts_path) ? 'active' : ''%>" href="<%= posts_path %>">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%current_page?(categories_path) ? 'active' : ''%>" href="<%= categories_path %>">Categories</a>
  </li>
    <li class="nav-item">
    <a class="nav-link <%current_page?(books_path) ? 'active' : ''%>" href="<%= books_path %>">Books</a>
  </li>
  </li>
    <li class="nav-item">
    <a class="nav-link <%current_page?(authors_path) ? 'active' : ''%>" href="<%= authors_path %>">Authors</a>
  </li>
  </li>
    <li class="nav-item">
    <a class="nav-link <%current_page?(users_path) ? 'active' : ''%>" href="<%= users_path %>">Users</a>
  </li>
</ul>
<hr class="bg-primary border-2 border-top border-primary">
<p> <%#= current_page?(root_path) %></p>