<!DOCTYPE html>
<html>
  <head>
    <title>KiwiappFinal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= posts_path %>">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= categories_path %>">Categories</a>
  </li>
</ul>
<hr class="bg-primary border-2 border-top border-primary">

      <%= yield %>
  </div>
  </body>
</html>
